@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  display: flex;
  gap: 41px;
  padding: 18px 0px 19px;
  align-items: flex-end;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: #222;
}

.menu {
  min-width: 159px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.baner {
  background-color: #f1e4e6;
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}

.baner__box {
  min-width: 1600px;
  display: flex;
  gap: 64px;
}

.baner__text {
  max-width: 405px;
  max-height: 94px;
  margin-top: 290px;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}

.baner__text h1 {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
}

.baner__text h2 {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
}

.baner__text__red {
  color: #f16d7f;
  font-family: Lato;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.4px;
}

.offer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 96px;
}

.women_pic {
  width: 360px;
  height: 260px;
  background-image: url(./img/for_women.png);
}

.men_pic {
  width: 360px;
  height: 260px;
  background-image: url(./img/for_man.png);
}

.kids_pic {
  width: 360px;
  height: 260px;
  background-image: url(./img/for_kids.png);
}

.accesories_pic {
  width: 1140px;
  height: 180px;
  background-image: url(./img/accesories.png);
}

.fog {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
}

.offer__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.offer__text h3 {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.offer__text h2 {
  color: #f16d7f;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

.products h2 {
  color: #222;
  font-family: Lato;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 6px;
}

.products p {
  color: #9f9f9f;
  font-family: Lato;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}
.cards {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;
}

.cards p {
  color: #5d5d5d;
  font-family: Lato;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  max-width: 314px;
}

.cards__filling {
  max-width: 360px;
}

.cards__text {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f8f8f8;
}

.cards__text h3 {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.cards__text h4 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.products__btn {
  border: none;
  cursor: pointer;
  color: #f26376;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  background: #fff;
  border: 1px solid #ff6a6a;
  margin-bottom: 60px;
  padding: 15px 39px;
}

.btn_center {
  display: flex;
  justify-content: center;
}
