@font-face {
  font-family: "Gilroy-Semibold";
  src: url(./font/Gilroy-Semibold.woff2);
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(./font/Gilroy-Medium.woff2);
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(./font/Gilroy-Bold.woff2);
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url(./font/Gilroy-Regular.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  margin-bottom: 84px;
}
.header__memu-bar {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  min-width: 533px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  color: #000000;
  font-family: Gilroy-Medium;
}

.navigation__home {
  color: #f25822;
  font-family: Gilroy-SemiBold;
}

.main {
  margin-bottom: 162px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content__left-side {
  max-width: 522px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__left-side h1 {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 60px;
  font-weight: 400;
  line-height: 70.31px;
  margin-bottom: 17px;
}

.content__left-side h2 {
  max-width: 466px;
  color: #888;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  margin-bottom: 37px;
}

.content__btn-list {
  max-width: 302px;
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  cursor: pointer;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
}

.btn_start {
  color: #fff;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  padding: 15px 35px;
}
.btn_video {
  color: #aaa;
  background: #ffffff;
}

.logos {
  padding-top: 97px;
  padding-bottom: 97px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 538px;
}

.features {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fff;
}

.btn__read {
  border: none;
  cursor: pointer;
  color: #000;
  background: none;
  font-family: Gilroy-Bold;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
}

.features__title {
  margin-top: 25px;
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  margin-bottom: 17px;
}

.features__text {
  color: #666;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  margin-bottom: 25px;
}

.features00 {
  max-width: 310px;
  margin-top: 40px;
}

.features02 {
  max-width: 370px;
  flex-shrink: 0;
  padding: 40px 30px 25px;
  background: #fff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.services {
  background: #fafafa;
  padding-bottom: 100px;
}

.secation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 19px;
  padding-top: 92px;
  margin-bottom: 55px;
}

.secation__title {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 45px;
  font-weight: 400;
  line-height: 52.73px;
}

.secation__text {
  max-width: 682px;
  color: #666;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.services123 {
  display: flex;
  gap: 30px;
}

.services00 {
  display: flex;
  max-width: 370px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 30px 50px;
  background: #fff;
}

.services00__title {
  margin-top: 25px;
  margin-bottom: 22px;
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
}

.services00__text {
  color: #aaa;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  margin-bottom: 39px;
}

.btn__learn {
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  padding: 15px 35px;
}

.services02 {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}
